[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-testing = "*"
sphinx = "*"
connexion = {extras = ["swagger-ui"],version = "*"}

[packages]
flask = "*"
werkzeug = {version = "==0.16.1"}
python-jose = {extras = ["cryptography"],version = "*"}
requests = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-enum = "*"
connexion =  "*"
marshmallow-sqlalchemy = "*"
fiql-parser = "*"
sqlalchemy-filters = "*"
psycopg2 = "*"
flask-script = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
